*:not(html, script, style, head) {background: none;margin: 0;padding: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;background-size: cover;background-repeat: no-repeat;background-position: center;font-family: system-ui;/* font-weight: 100; */border: none;/* border: 1px solid grey; *//* color: white; */font-family: "Lato", serif;/* font-weight: 100; */font-style: normal;font-family: sans-serif;/* border: none; */}

   
body {
    width: 100%;
    max-width: 100%;
    /* display: block; */
    justify-content: flex-start;
    min-height: 100vh;
    align-items: center;
}
   .menuBar {
   
height: 80px;
   
background-color: #155F9E;
   
width: 100%;
   }

.menu_text {
    flex-direction: row;
    position: absolute;
    right: 0;
    width: 58%;
    justify-content: space-around;
    align-items: center;
}

.menu_text p {
    font-size: 28.2px;
    color: white;
    font-weight: lighter;
}

img.logo {
    height: 376px;
    width: 250px;
}

.background1 {
    background-image: url(background1.jpg);
    width: 100%;
    height: 636px;
}

.background1highlighter {
    width: 100%;
    background-color: #10122fb3;
    height: 100%;
}

.background1highlighter h1 {
    font-size: 40px;
    color: white;
    font-weight: 100;
    width: 60%;
}

.donatenow1 {
    background: #DB4D6C;
    height: 69px;
    width: 359px;
    border-radius: 12px;
}

.donatenow1 h1 {
    font-size: 39px;
}

.donatenow1 p {}

.background2 {
    background-color: #1F3124;
    width: 100%;
    height: 793px;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    height: 638px;
    background-color: #2423239c;
    width: 428px;
    border-radius: 52px;
}

div#card1 {
    background-image: url(card1.jpg);
}

div#card2 {
    background-image: url(card2.jpg);
}
div#card3 {
    background-image: url(card3.webp);
}

.card_highlighter {
    height: 100%;
    width: 100%;
    background-color: #2423236e; /* semi-transparent */
    backdrop-filter: blur(1px);  /* adjust px for blur strength */
    border-radius: 52px;         /* match parent rounding */
}

.card_highlighter h1 {
    font-size: 90px;
    color: white;
}

.background_colour1 {
    background-color: red;
    flex-direction: row;
    height: 580px;
    width: 100%;
    justify-content: space-evenly;
}


.card_colour {
    height: 510px;
    width: 332px;
    background-color: #2423236e; /* semi-transparent */
    /* backdrop-filter: blur(1px); */  /* adjust px for blur strength */
    border-radius: 52px;         /* match parent rounding */
    /* justify-content: space-around; */
}

.card_colour h1 {
    color: white;
    font-size: 32px;
}

div#background_colour2 {
    background: #1483B3;
}

div#background_colour3 {
    background: #266B1B;
}

.background_aboutus {
    flex-direction: row;
    height: 550px;
}

.aboutus_text {
    width: 50%;
    height: 81%;
    justify-content: space-around;
}

.aboutus_logo {
    width: 50%;
}

p {}

.aboutus_text p {
    font-size: 26px;
    width: 90%;
}

.aboutus_text h1 {
    font-size: 112px;
}

.backgroundImage_collaboration {
    width: 100%;
    height: 660px;
    background-image: url(network.jpg);
}

.backgroundImage_collaborationhigh {
    /* flex-direction: row; */
    width: 100%;
    /* background-color: #2423236e; */
    /* backdrop-filter: blur(1px); */
    /* border-radius: 52px; */
    height: 100%;
    background-color: #2423236e;
    backdrop-filter: blur(5px);
    /* border-radius: 52px; */
}

.collaboration_card_parents {
    width: 88%;
    flex-direction: row;
    justify-content: space-evenly;
}

.collaboration_card {
    height: 449px;
    background-color: red;
    width: 310px;
    /* border-radius: 32px; */
}

.collaboration_card h1 {
    font-size: 50px;
    color: white;
}

.collaboration_card p {
    color: white;
    font-size: 23px;
}

.collaboration_title {
    font-size: 42px;
    text-decoration: underline;
    color: white;
    margin: 16px 0px 56px 0px;
}

.collaboration_card {}

div#collaboration_card1 {
    background-color: #DB2E25;
}

div#collaboration_card2 {
    background-color: #0F5EA3;
}

div#collaboration_card3 {
    background-color: #266B1B;
}

.contactus_background {
    width: 100%;
    height: 390px;
    width: 100%;
    /* background: #ababab; */
    /* justify-content: space-between; */
    background-image: url(networkish.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* background-color: #242323f5; */
    /* backdrop-filter: blur(16px); */
    /* border-radius: 52px; */
}

img.contact_logo {
    height: 100px;
}

.contactus_highlight {
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: #2423236e;
    backdrop-filter: blur(16px);
    /* border-radius: 52px; */
}

.contactus_logos {
    flex-direction: row;
    width: 96%;
    justify-content: space-between;
}

.contactus_background {
    /* background-color: #00053A; */
}

.footer {
    background-color: #00053A;
    width: 100%;
    color: white;
    flex-direction: row;
    height: 560px;
}

.contactus_footer_logos {
    flex-direction: row;
    width: 91%;
    justify-content: space-around;
}

img.contact_footer_logo {
    height: 42px;
}

.links {
    flex-direction: row;
    width: 100%;
    height: 270px;
}

.column1 {
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
}

.column_background {
    width: 50%;
    height: 100%;
    justify-content: space-around;
    position: relative;
}

.column2 {
    width: 33%;
    height: 100%;
    justify-content: flex-start;
}

.column2 p {
    font-size: 23px;
    text-decoration: underline;
    margin: 18px 0px 6px 0px;
}

.contact_adress {
    font-size: 22px;
    height: 208px;
    justify-content: space-evenly;
    font-weight: 900;
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact_adress p {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 900;
}

.contact_details h1 {
    font-size: 23px;
}

.contact_details p {
    font-weight: 700;
}

img.footer_logo {
    height: 203px;
    width: 140px;
}